
## import(zlibbioc)
import(grid, TSP, limma, rhdf5, knitr, abind, gplots, igraph)

# exportPattern("^[^\\.]")
export(getBaseDir)
export(applyDimensionReduction)
export(callInteractions)
export(estimatePairwiseInteractions)
export(orderSpiderAxis)
export(grid.spider)
export(grid.spider.legend)
export(toRaster)
export(toMatrix)
export(orderDim)
export(trsf)
export(myHeatmap)
export(hrNames)
export(learnCoComplexFct)
export(convertCorrelations)
export(mymedpolish)
export(plotPIdata)
export(plot2Phenotypes)
export(plotHairballLabels)
export(selectByStability)
export(subSampleForStabilitySelectionFct)
